BACKEND_PORT=8080
JWT_SECRET=change_me
RECOMMENDATION_URL=http://recommendation:8000/recommend

DB_HOST=postgres
DB_PORT=5432
DB_NAME=mingle
DB_USER=postgres
DB_PASSWORD=change_me
DB_SSLMODE=disable

REDIS_PORT=6379
REDIS_ADDR=redis:6379

RECOMMENDATION_PORT=8000
FRONTEND_PORT=5173

OMDB_API_KEY=change_me
GOOGLE_BOOKS_API_KEY=change_me
TGDB_API_KEY=change_me